@charset "utf-8";
/* CSS Document */
body,td,th,p{
	color: #333;
	line-height: 1.5;
}
body {
	background-color: #fdfdfd;
	margin: 0;
  position:relative;
  font-size: 12px; /* Base font size */  
  font-family: Arial, Helvetica, sans-serif;
}
#NavBar h1 {
  text-transform: uppercase;
  font-size: 1.3rem;
  letter-spacing: 0.8333333333333333rem;
  height: 3rem;
  padding: 0.8rem;
}
#NavBar h1 a {
  color: #fff;
}
#NavBar h1 a:hover {
  text-decoration: none;
  color: #3397db;
}
#footer {
  text-align: center;
  overflow: hidden;
  padding-top: 0.9rem;
  bottom: 0;
  height: 3.166666666666667rem;
  background-color: #444;
  color: #aaa;
  font-size: 0.9rem;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
}
#map {
  height: 30.33333333333333rem;
  background-color: #ccc;
  width: 100%;
}
.inside {
  background-color: #f3f3f3;
}
#map-container-detail #map {
  height: 100%;;
}
img {
  width: 100%;
}
.restaurant-card {
  padding: 0;
}
.address {
  font-size: 1.1rem;
}
.breadcrumb {
  font-size: 1rem;
  color: #333;
  font-weight: bold;
}
.cuisine {
  background-color: #444;
  color: #fff;
  text-align: center;
  font-size: 1.1rem;
  letter-spacing: 0.8333333333333333rem;
  text-transform: uppercase;
  margin-top: 3px;
}
#restaurant-name {
  text-transform: uppercase;
}
#restaurant-address {
  color: #333;
  font-weight: bold;
  font-size: 1rem;
}
#detail {
  width: 40%;
  margin-right: 5%;
}
#map-container-detail {
  width: 55%;
}
.maindetailflex {
  flex-direction: row;
}
#reviews-container {
  font-size: 1.1rem;
}
#reviews-container ul li {
  list-style: none;
}
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
  #footer {
    padding-top: 0;
  }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 
  
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 1200px) {
  .maindetailflex {
    flex-direction: column-reverse;
  }
  #detail {
    width: 100%;
  }
  #map-container-detail {
    width: 100%;
  }
  
#map-container-detail #map {
  height: 33rem;
}
 }